---
logo: https://unpkg.com/atomico@0.20.0/docs/brand/logo-black.svg
social:
  - title: Github
    link: https://github.com/atomicojs/atomico
  - title: Twitter
    link: https://twitter.com/uppercod
groupOrder:
  - Welcome
  - Hooks:
      - use-lazy
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pkg.name}} - {{page.title}}</title>
    <meta name="description" content="{{page.description}}" />
    <link
      href="https://fonts.googleapis.com/css?family=Sen:700|Fira+Code:500,700&display=swap"
      rel="stylesheet"
    />
    <style>
      :root {
        --theme-font-title: "Sen", sans-serif;
        --theme-font: "Fira Code", monospace;
        --theme-font-color: #404049;
        --theme-font-color-light: #f1f1f9;
        --theme-font-color-dark: black;
        --theme-font-color-selection: #7afee1;
        --theme-font-color-code: deeppink;
        --theme-box-radius: 7px;
        --theme-box-padding: 2rem;
        --theme-box-border-color: rgba(0, 0, 0, 0.15);
        --theme-primary: black;
        --theme-second: #0033ff;
        --theme-contrast: #f1f1f9;
        --theme-background: white;
        --theme-background-dark: #232329;
      }
    </style>
    <link rel="stylesheet" href="./theme.css" />
  </head>
  <body>
    <input type="checkbox" id="toggle-menu" />
    <main class="theme-layout -box">
      <aside class="theme-layout -aside">
        <div class="theme-layout -layer -aside-background"></div>
        <div class="theme-layout -layer -aside-scroll">
          <div class="theme-aside -logo">
            <img src="{{theme.logo}}" alt="Logo {{pkg.name}}" />
          </div>
          <ul class="theme-aside -list-root">
            {{#pages}}
            <li>
              <strong class="theme-aside -list-root-title">{{title}}</strong>
              <ul class="theme-aside -list-child">
                {{#pages}}
                <li class="theme-aside -list-child-item --active-{{active}}">
                  <a href="{{link}}">{{title}}</a>
                </li>
                {{/pages}}
              </ul>
            </li>
            {{/pages}}
          </ul>
          <div class="theme-layout -tags">
            {{#theme.social}}
            <a href="{{link}}" target="_blank">{{title}}</a>
            {{/ theme.social}}
          </div>
        </div>
      </aside>
      <section class="theme-layout -content">
        <article>
          {{{page.content}}} {{#page.showPages}} {{#pages}}
          <h4 style="margin-bottom: 0px;">{{title}}</h4>
          <div class="theme-layout -cards">
            {{#pages}}
            <a class="theme-layout -card" href="{{link}}">
              <div class="theme-layout -cart-group">
                <strong> {{title}} </strong><br />
                <span>{{description}}</span>
              </div>
              <svg
                class="theme-layout -card-icon"
                width="16px"
                viewBox="0 0 492.004 492.004"
              >
                <path
                  style="fill: var(--theme-second);"
                  d="M484.14 226.886L306.46 49.202c-5.072-5.072-11.832-7.856-19.04-7.856-7.216 0-13.972 2.788-19.044 7.856l-16.132 16.136c-5.068 5.064-7.86 11.828-7.86 19.04 0 7.208 2.792 14.2 7.86 19.264L355.9 207.526H26.58C11.732 207.526 0 219.15 0 234.002v22.812c0 14.852 11.732 27.648 26.58 27.648h330.496L252.248 388.926c-5.068 5.072-7.86 11.652-7.86 18.864 0 7.204 2.792 13.88 7.86 18.948l16.132 16.084c5.072 5.072 11.828 7.836 19.044 7.836 7.208 0 13.968-2.8 19.04-7.872l177.68-177.68c5.084-5.088 7.88-11.88 7.86-19.1.016-7.244-2.776-14.04-7.864-19.12z"
                />
              </svg>
            </a>
            {{/pages}}
          </div>
          {{/pages}} {{/page.showPages}}
          <br />
          <br />
          <hr />
          <footer class="theme-layout -cards">
            {{#page.prev}}
            <a class="theme-layout -card" href="{{link}}">
              <svg
                class="theme-layout -card-icon"
                width="16px"
                viewBox="0 0 492 492"
              >
                <path
                  style="fill: var(--theme-second);"
                  d="M464.344 207.418l.768.168H135.888l103.496-103.724c5.068-5.064 7.848-11.924 7.848-19.124 0-7.2-2.78-14.012-7.848-19.088L223.28 49.538c-5.064-5.064-11.812-7.864-19.008-7.864-7.2 0-13.952 2.78-19.016 7.844L7.844 226.914C2.76 231.998-.02 238.77 0 245.974c-.02 7.244 2.76 14.02 7.844 19.096l177.412 177.412c5.064 5.06 11.812 7.844 19.016 7.844 7.196 0 13.944-2.788 19.008-7.844l16.104-16.112c5.068-5.056 7.848-11.808 7.848-19.008 0-7.196-2.78-13.592-7.848-18.652L134.72 284.406h329.992c14.828 0 27.288-12.78 27.288-27.6v-22.788c0-14.82-12.828-26.6-27.656-26.6z"
                />
              </svg>
              <strong>
                {{title}}
              </strong>
            </a>
            {{/page.prev}} {{#page.next}}
            <a class="theme-layout -card" href="{{link}}">
              <strong>
                {{title}}
              </strong>
              <svg
                class="theme-layout -card-icon"
                width="16px"
                viewBox="0 0 492.004 492.004"
              >
                <path
                  style="fill: var(--theme-second);"
                  d="M484.14 226.886L306.46 49.202c-5.072-5.072-11.832-7.856-19.04-7.856-7.216 0-13.972 2.788-19.044 7.856l-16.132 16.136c-5.068 5.064-7.86 11.828-7.86 19.04 0 7.208 2.792 14.2 7.86 19.264L355.9 207.526H26.58C11.732 207.526 0 219.15 0 234.002v22.812c0 14.852 11.732 27.648 26.58 27.648h330.496L252.248 388.926c-5.068 5.072-7.86 11.652-7.86 18.864 0 7.204 2.792 13.88 7.86 18.948l16.132 16.084c5.072 5.072 11.828 7.836 19.044 7.836 7.208 0 13.968-2.8 19.04-7.872l177.68-177.68c5.084-5.088 7.88-11.88 7.86-19.1.016-7.244-2.776-14.04-7.864-19.12z"
                />
              </svg>
            </a>
            {{/page.next}}
          </footer>
        </article>
      </section>

      <label for="toggle-menu">
        <div class="theme-layout -toggle-menu">
          <div></div>
        </div>
      </label>
    </main>
  </body>
</html>
