html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: var(--theme-font);
  color: var(--theme-font-color);
}

* {
  scroll-behavior: smooth;
}

*::selection,
mark {
  background: var(--theme-font-color-selection);
}

a {
  color: unset;
  text-decoration: none;
}

img,
iframe,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--theme-font-title);
  font-weight: 800;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 13px;
}
