.theme-layout {
  &.-toggle-menu {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    background: var(--theme-second);
    border-radius: var(--theme-box-radius) 0px 0px 0px;
    display: none;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 20px;
      position: absolute;
      left: calc(50% - 10px);
      transition: 0.3s ease all;
      box-sizing: border-box;
    }
    &:before {
      height: 11px;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      top: calc(50% - 5px);
    }
    &:after {
      height: 1px;
      background: white;
      top: 50%;
    }
  }
  &.-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
  }
  &.-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  &.-aside,
  &.-content {
    height: 100%;
    box-sizing: border-box;
    position: relative;
  }
  &.-aside {
    width: 280px;
    font-family: var(--theme-font-title);
    border-right: 1px solid var(--theme-box-border-color);
  }
  &.-aside-background {
    background: var(--theme-contrast);
  }
  &.-aside-scroll {
    padding: 40px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  &.-content {
    overflow-y: auto;
    flex: 0%;
    padding: 40px 5%;
    font-size: 14px;
    line-height: 1.8em;
    font-weight: 500;
    background: var(--theme-background);
    & > article {
      max-width: 780px;
      margin: auto;
      & > h1:first-child {
        color: var(--theme-second);
      }
    }

    & a:not(.theme-layout) {
      color: var(--theme-second);
      font-weight: bold;
      text-decoration: underline;
    }

    & hr {
      margin: -1rem 0px 2rem;
      height: 2px;
      background: var(--theme-box-border-color);
      border: none;
    }
    & ul,
    & ol {
      & input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        &::before,
        &::after {
          content: "";
          border: 1px solid var(--theme-second);
        }
        &:before {
          width: 1em;
          height: 1em;
          top: 3px;
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          border-radius: 3px;
        }
        &:after {
          border-top: none;
          border-left: none;
          display: none;
          position: absolute;
          border-width: 2px;
        }
        &:checked {
          &:after {
            display: block;
            width: 0.2em;
            height: 0.5em;
            transform: rotate(45deg);
            left: calc(50% - (0.1em + 1px));
            top: calc(50% - (0.25em + 1px));
          }
        }
      }
    }
    & code {
      font-size: 13px;
      font-weight: bold;
      color: var(--theme-font-color-code);
      font-family: var(--theme-font);
      &::before,
      &::after {
        content: "`";
      }
    }

    & :matches(h1, h2, h3, h4, h5, h6, strong, b) {
      color: var(--theme-font-color-dark);
    }
    & .markdown {
      &.-code-container {
        line-height: 1.5em;
        padding: 2rem;
        overflow-x: auto;
        background: var(--theme-background-dark);
        border-radius: var(--theme-box-radius);
        & code {
          color: var(--theme-font-color-light);
          font-weight: 500;
          &:before,
          &:after {
            content: "";
          }
        }
      }
      &.-table-container {
        overflow-x: auto;
        padding: 0px;
        & table {
          box-sizing: border-box;
          font-size: 0.9em;
          border-spacing: 0px;
          width: 100%;
          text-align: left;
          & th {
            font-weight: bold;
            color: var(--theme-font-color-dark);
            font-family: var(--theme-font-title);
          }
          & th,
          & td {
            padding: 0.5rem;
            box-sizing: border-box;
            vertical-align: baseline;
          }

          & td {
            border-top: 1px solid var(--theme-box-border-color);
          }
        }
      }
    }

    & blockquote {
      position: relative;
      margin: 0px;
      padding: 10px 0px 10px 25px;
      font-style: italic;
      & > *:first-child {
        margin-top: 0px;
      }
      & > *:last-child {
        margin-bottom: 0px;
      }
      &:before,
      &:after {
        display: inline-block;
        position: absolute;
        color: var(--theme-font-color-dark);
      }
      &:before {
        padding: 12px 0px 0px 0px;
        height: 9px;
        content: open-quote;
        font-family: sans-serif;
        font-size: 50px;
        top: 11px;
        left: -1px;
        background: var(--theme-background);
        z-index: 1;
        color: var(--theme-second);
        font-style: normal;
      }
      &:after {
        width: 2px;
        height: 100%;
        left: 6.5px;
        top: 0px;
        content: "";
        background: var(--theme-box-border-color);
      }
    }
  }
  &.-tags {
    padding-top: 20px;
    & a {
      background: var(--theme-second);
      color: white;
      border-radius: 100px;
      font-size: 12px;
      padding: 2px 6px;
    }
  }
  &.-cards {
    display: flex;
    flex-flow: row wrap;
    margin: 0px -0.5rem;
  }
  &.-card {
    min-width: 280px;
    flex: 0%;
    margin: 0.5rem;
    min-height: 80px;
    border: 1px solid var(--theme-box-border-color);
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: var(--theme-box-radius);
    box-sizing: border-box;
    text-decoration: none;
  }
  &.-card-icon {
    min-width: 16px;
  }
  &.-cart-group {
    padding-right: 1rem;
  }
  @media (max-width: 870px) {
    &.-toggle-menu {
      display: block;
    }
    &.-aside {
      width: 100%;
      left: 100%;
      max-width: 400px;
      position: fixed;
      z-index: 2;
      backdrop-filter: blur(10px);
      border: none;
    }
    &.-aside-background {
      opacity: 0.9;
    }
    &.-aside-scroll {
      padding: 40px 10%;
    }
  }
}
