.theme-aside {
  &.-logo {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    & img {
      max-width: 200px;
    }
  }
  &.-list-root,
  &.-list-child {
    list-style: none;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    font-weight: 600;
    position: relative;
    margin: 0px;
  }
  &.-list-child li {
    padding: 0.1rem 0px 0.1rem 1rem;
    box-sizing: border-box;
  }
  &.-list-root {
    padding: 0px 0px 1rem;
  }
  &.-list-root-title {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.75;
    padding: 0.5rem 0px;
    display: block;
  }
  &.-list-child-item {
    font-size: 13px;
    position: relative;
    &:matches(:after, :before) {
      content: "";
      display: block;
      position: absolute;
      border-radius: 100px;
      box-sizing: border-box;
      opacity: 0;
    }
    &:before {
      top: 0px;
      left: 5px;
      width: 2px;
      height: 100%;
      background: var(--theme-second);
      opacity: 0.25;
    }
    &:after {
      width: 8px;
      height: 8px;
      border: 2px solid var(--theme-second);
      left: 2px;
      top: calc(50% - 4px);
      background: var(--theme-contrast);
    }
    &.--active-true:matches(:after, :before) {
      opacity: 1;
    }
    & > a {
      display: block;
      padding: 0.1rem;
      box-sizing: border-box;
    }
  }
}
